{
    //Entender qual o ambiente estou trabalhando e converter as feature que o ambiente entende
    "presets": ["@babel/preset-env"],
    //Plugin para utilização dos operadores rest/spread
    "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}